{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }],
    "flow"
  ],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ],
  "sourceMaps": "inline",
  "retainLines": true
}
