NODE_ENV=development
PORT=4040
JWT_SECRET=
MONGO_HOST=localhost
MONGO_DB=onova-data
MONGO_JOB_DB=onova-jobs
MONGO_PORT=27017
MONGOOSE_DEBUG=false
SALT_ROUNDS=8
MJ_APIKEY_PUBLIC=
MJ_APIKEY_PRIVATE=
CLOUD_BUCKET=assets.onova.co
